#boton{
    background-color:red;
border: 8px solid red;
font-size: 20px;
font-family:ravie;
position: relative;
top: 20px;
left: 120px;

}

#tittle{
    background-color:red;
    color: white;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    position: relative;
    top: 70px;
    left: 550px;
    font-size: 20px;
    font-family:new times roman;
       }
#titulo{
    background-color:red;
    color: white;  
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    position: relative;
    top: 70px;
    left: 550px;
    font-size: 50px;
    font-family:new times roman;
       } 


    
    .Boton{
        margin:0 auto;
        width:20%;
        position: relative;
        top: 100px;
        left:400px; 
    }
