#boton{
border: 8px solid mediumorchid;
font-size: 20px;
font-family:ravie;
position: relative;
top: 20px;
left: 1250px;
}
#letras{
    position: relative;
    top: 90px;
    left: 300px;
font-size: 20px;
font-family:ravie;
}
#titulo{
    background-color:mediumorchid;
    color: powderblue;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    position: relative;
    top: 90px;
    left: 400px;
    font-size: 50px;
    font-family:freestyle script;
       }
    #imagen{
    position: relative;
    top: 100px;
    left: 400px; 
    }
    #huellas{
    position: relative;
    top: 120px;
    left: 400px;  
    }
    #indicacion{
    position: relative;
    top: 500px;
    left: 700px; 
    }
    
    .miBoton{
        margin:0 auto;
        width:20%;
        position: relative;
        top: 100px;
        left:400px; 
    }
    #weimaraner{
    position: relative;
    top: 90px;
    left: 90px; 
    }
    #pincher{
    position: relative;
    top: 90px;
    left: 400px; 
    }
    
   #pastor{
    position: relative;
    top: 90px;
    left: 710px; 
    }
    
    #cocker{
    position: relative;
    top: 90px;
    left: 1150px; 
    }
    #primero{
    position: relative;
    top: 90px;
    left: 90px;
font-size: 20px;
font-family:ravie;  
    }
    #segundo{
    position: relative;
    top: 90px;
    left: 400px;
font-size: 20px;
font-family:ravie;  
    }
     #tercero{
    position: relative;
    top: 90px;
    left: 710px;
font-size: 20px;
font-family:ravie;  
    }
     #cuarto{
    position: relative;
    top: 90px;
    left: 1150px;
font-size: 20px;
font-family:ravie;  
    }